<?xml version="1.0"?>

<configuration> 

	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Ventas.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings> 

		<add name="ApplicationServices"
  connectionString="Server=VIRTUALXP-50904\\SQL2008; User ID=sa; Initial Catalog=Ventas; password=royal2008;"
    providerName="System.Data.SqlClient" />

	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

    <sessionState mode="InProc" cookieless="false" timeout="120" />
		<authentication mode="Forms">
			<forms loginUrl="~/Seguridad/LogOn" timeout="120" protection="All"/>
		</authentication>
		
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
 <applicationSettings>
  <Ventas.Web.Properties.Settings>
   <setting name="Ventas_Web_ServicioSunat_Empresas" serializeAs="String">
    <value>http://localhost:1677/Empresas.svc</value>
   </setting>
  </Ventas.Web.Properties.Settings>
 </applicationSettings>
</configuration>

