<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

	<!-- Declaración de las secciones de configuración de Spring -->
	<!--<configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
    </sectionGroup>m
  </configSections>
  -->
	<!-- Especificación de inicialización del contexto de Spring -->
	<!--
  <spring>
    <context>
      <resource uri="assembly://TimeSheet.Web/TimeSheet.Web/CapaPresentacion.xml" />
      <resource uri="assembly://TimeSheet.BL/TimeSheet.BL/CapaNegocio.xml" />
      <resource uri="assembly://TimeSheet.BL/TimeSheet.BL/CapaPersistencia.xml" />
    </context>
  </spring>-->

	<connectionStrings>
		<!-- <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />-->

		<add name="ApplicationServices"
		connectionString="Server=VIRTUALXP-50904\\SQL2008; User ID=sa; Initial Catalog=Ventas; password=royal2008;"
	   providerName="System.Data.SqlClient" />

	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<!--<authentication mode="Forms">
			<forms loginUrl="~/Home/Index" timeout="2880" />
		</authentication>-->

		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
					 enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
					 maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
					 applicationName="/" />
			</providers>
		</membership>

		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>

		<roleManager enabled="true">
			<providers>
				<clear />
				<add connectionStringName="ApplicationServices" applicationName="/"
				  name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
				<add applicationName="/" name="AspNetWindowsTokenRoleProvider"
				  type="System.Web.Security.WindowsTokenRoleProvider" />
			</providers>
		</roleManager>

		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings />
		<client />
	</system.serviceModel>
</configuration>

